/* screen - desktop-the-donation-process */

.desktop-the-donation-process {
  align-items: flex-start;
  border: 1px none;
  display: flex;
  flex-direction: column;
  min-height: 4082px;
  overflow-x: hidden;
  width: 1440px;
}

.desktop-the-donation-process .ubc-navigation-menu {
  align-items: flex-start;
  background-color: var(--surface);
  display: flex;
  width: 1440px;
}

.desktop-the-donation-process .screenshot-2022-10-03-194008-1 {
  height: 300px;
  object-fit: cover;
  width: 1440px;
}

.desktop-the-donation-process .the-donation-process-header {
  align-items: flex-start;
  background-color: var(--surface);
  display: flex;
  height: 199px;
  padding: 23px 160px;
  width: 1440px;
}

.desktop-the-donation-process .type-header2 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  gap: 14px;
  width: 1120px;
}

.desktop-the-donation-process .header-1 {
  align-self: stretch;
  line-height: 58px;
  margin-top: -1.00px;
}

.desktop-the-donation-process .paragraph-2 {
  align-self: stretch;
  letter-spacing: 0;
  line-height: 40px;
}

.desktop-the-donation-process .before-after-passing {
  align-items: flex-start;
  background-color: var(--surface);
  display: flex;
  flex-direction: column;
  height: 2841px;
  padding: 24px 159px;
  width: 1440px;
}

.desktop-the-donation-process .before-passing-after-passing {
  align-items: flex-start;
  display: flex;
  min-width: 1121px;
}

.desktop-the-donation-process .overlap-group8 {
  height: 2746px;
  position: relative;
  width: 1121px;
}

.desktop-the-donation-process .overlap-group {
  align-items: flex-start;
  background-color: var(--light-green);
  border-radius: 10px 10px 0px 0px;
  display: flex;
  height: 73px;
  justify-content: flex-end;
  left: 566px;
  min-width: 555px;
  padding: 10px 15.8px;
  position: absolute;
  top: 0;
}

.desktop-the-donation-process .after-passing {
  color: #01204599;
  font-family: var(--font-family-open_sans);
  font-size: var(--font-size-xxl);
  font-weight: 700;
  height: 52px;
  letter-spacing: 0;
  line-height: 40px;
  text-align: center;
  width: 523px;
}

.desktop-the-donation-process .background-box {
  background-color: var(--surface);
  border: 4px solid;
  border-color: var(--green);
  border-radius: 0px 0px 10px 10px;
  height: 2678px;
  left: 0;
  position: absolute;
  top: 68px;
  width: 1120px;
}

.desktop-the-donation-process .overlap-group1 {
  align-items: flex-start;
  background-color: var(--surface);
  border-color: var(--green);
  border-left-style: solid;
  border-left-width: 4px;
  border-radius: 10px 10px 0px 0px;
  border-right-style: solid;
  border-right-width: 4px;
  border-top-style: solid;
  border-top-width: 4px;
  display: flex;
  height: 73px;
  left: 0;
  min-width: 555px;
  padding: 6.9px 12px;
  position: absolute;
  top: 0;
}

.desktop-the-donation-process .before-passing {
  height: 52px;
  letter-spacing: 0;
  line-height: 40px;
  text-align: center;
  width: 523px;
}

.desktop-the-donation-process .fa-qs {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  left: 65px;
  min-height: 499px;
  position: absolute;
  top: 2212px;
  width: 992px;
}

.desktop-the-donation-process .title {
  letter-spacing: 0;
  line-height: 78px;
  margin-top: -1px;
  min-height: 84px;
  white-space: nowrap;
}

.desktop-the-donation-process .overlap-group2 {
  align-items: flex-start;
  background-color: var(--light-blue);
  border-radius: 10px;
  display: flex;
  gap: 80px;
  height: 355px;
  margin-top: 1px;
  min-width: 992px;
  padding: 24px 32px;
}

.desktop-the-donation-process .overlap-group2-item {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  gap: 2px;
  min-height: 215px;
  width: 256px;
}

.desktop-the-donation-process .header {
  letter-spacing: 0;
  line-height: 26px;
  margin-top: -1px;
  width: 258px;
}

.desktop-the-donation-process .paragraph {
  letter-spacing: 0;
  line-height: 26px;
  width: 257px;
}

.desktop-the-donation-process .can-i-revoke-my-consent {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  gap: 28px;
  min-height: 215px;
  width: 256px;
}

.desktop-the-donation-process .header-2 {
  line-height: 26px;
  margin-top: -1px;
}

.desktop-the-donation-process .flex-row {
  gap: 163px;
  margin-top: 24px;
  min-width: 992px;
}

.desktop-the-donation-process .download-a-copy-of-this-flow-chart-here {
  align-items: flex-start;
  display: flex;
  min-width: 381px;
}

.desktop-the-donation-process .download-a-copy-of-this-flow-chart-here-1 {
  color: var(--green);
  font-family: var(--font-family-open_sans);
  font-size: var(--font-size-m);
  font-weight: 400;
  height: 36px;
  letter-spacing: 0;
  line-height: 26px;
  margin-top: -1px;
  text-align: center;
  width: 381px;
}

.desktop-the-donation-process .have-more-questions-bar {
  align-items: flex-start;
  display: flex;
  gap: 34px;
  min-width: 448px;
}

.desktop-the-donation-process .have-more-questions {
  color: var(--pink);
  font-family: var(--font-family-open_sans);
  font-size: var(--font-size-m);
  font-weight: 700;
  height: 36px;
  letter-spacing: 0;
  line-height: 26px;
  margin-top: -1px;
  text-align: center;
  width: 255px;
}

.desktop-the-donation-process .complete-faq {
  color: var(--pink);
  font-family: var(--font-family-open_sans);
  font-size: var(--font-size-m);
  font-weight: 400;
  height: 36px;
  letter-spacing: 0;
  line-height: 26px;
  margin-top: -1px;
  text-align: center;
  width: 159px;
}

.desktop-the-donation-process .overlap-group3 {
  height: 428px;
  left: 4px;
  position: absolute;
  top: 1776px;
  width: 1052px;
}

.desktop-the-donation-process .overlap-group-1 {
  align-items: flex-start;
  background-image: url(https://med-fom-cell-phys.sites.olt.ubc.ca/files/2023/02/vector.png);
  background-size: 100% 100%;
  display: flex;
  height: 334px;
  justify-content: flex-end;
  min-width: 348px;
  padding: 62px 114px;
}

.desktop-the-donation-process .number {
  height: 208px;
  letter-spacing: 0;
  line-height: normal;
  text-align: center;
  width: 92px;
}

.desktop-the-donation-process .before-passing-step-3 {
  background-image: url(https://med-fom-cell-phys.sites.olt.ubc.ca/files/2023/02/bp3@2x.png);
  height: 315px;
  left: 174px;
  top: 113px;
  width: 254px;
}

.desktop-the-donation-process .talking-to-your-loved-ones {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  gap: 22px;
  left: 381px;
  min-height: 140px;
  position: absolute;
  top: 0;
  width: 671px;
}

.desktop-the-donation-process .header-3 {
  color: var(--green);
  font-family: var(--font-family-open_sans);
  font-size: var(--font-size-xxl);
  font-weight: 300;
  line-height: 40px;
  margin-top: -1px;
}

.desktop-the-donation-process .paragraph-1 {
  letter-spacing: 0;
  line-height: 26px;
  width: 671px;
}

.desktop-the-donation-process .overlap-group4 {
  height: 423px;
  left: 4px;
  position: absolute;
  top: 1353px;
  width: 1052px;
}

.desktop-the-donation-process .who-should-be-notified {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  gap: 22px;
  left: 381px;
  min-height: 140px;
  position: absolute;
  top: 0;
  width: 671px;
}

.desktop-the-donation-process .header-4 {
  color: var(--blue);
  font-family: var(--font-family-open_sans);
  font-size: var(--font-size-xxl);
  font-weight: 300;
  line-height: 40px;
  margin-top: -1px;
}

.desktop-the-donation-process .overlap-group-2 {
  height: 423px;
  width: 444px;
}

.desktop-the-donation-process .vector {
  height: 334px;
  left: 0;
  position: absolute;
  top: 0;
  width: 348px;
}

.desktop-the-donation-process .number-1 {
  height: 208px;
  left: 142px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 62px;
  width: 92px;
}

.desktop-the-donation-process .before-passing-step-2 {
  background-image: url(https://med-fom-cell-phys.sites.olt.ubc.ca/files/2023/02/bp2-1@2x.png);
  height: 256px;
  left: 188px;
  top: 167px;
  width: 256px;
}

.desktop-the-donation-process .step-1 {
  align-items: flex-start;
  display: flex;
  gap: 33px;
  height: 696px;
  left: 4px;
  min-width: 1052px;
  position: absolute;
  top: 657px;
}

.desktop-the-donation-process .overlap-group6 {
  height: 477px;
  position: relative;
  width: 348px;
}

.desktop-the-donation-process .overlap-group-3 {
  align-items: flex-start;
  background-image: url(https://med-fom-cell-phys.sites.olt.ubc.ca/files/2023/02/vector-2.png);
  background-size: 100% 100%;
  display: flex;
  height: 334px;
  justify-content: flex-end;
  min-width: 348px;
  padding: 62px 114px;
}

.desktop-the-donation-process .before-passing-step-1 {
  background-image: url(https://med-fom-cell-phys.sites.olt.ubc.ca/files/2023/02/bp1-1@2x.png);
  height: 251px;
  left: 97px;
  top: 226px;
  width: 251px;
}

.desktop-the-donation-process .flex-col {
  flex-direction: column;
  min-height: 647px;
  width: 671px;
}

.desktop-the-donation-process .overlap-group5 {
  height: 618px;
  position: relative;
  width: 671px;
}

.desktop-the-donation-process .x1b-someone-else-is {
  left: 383px;
  letter-spacing: 0;
  line-height: 18px;
  position: absolute;
  top: 129px;
  width: 288px;
}

.desktop-the-donation-process .span-3 {
  line-height: 26px;
}

.desktop-the-donation-process .span-2 {
  color: var(--black);
  font-family: var(--font-family-open_sans);
  font-size: var(--font-size-s);
  font-weight: 400;
  line-height: 26px;
}

.desktop-the-donation-process .span-1 {
  text-decoration: underline;
}

.desktop-the-donation-process .or {
  left: 287px;
  letter-spacing: 0;
  line-height: 26px;
  position: absolute;
  text-align: center;
  top: 129px;
  width: 64px;
}

.desktop-the-donation-process .x1a-you-are-the-dono {
  left: 0;
  letter-spacing: 0;
  line-height: 26px;
  position: absolute;
  top: 129px;
  width: 287px;
}

.desktop-the-donation-process .filling-in-consent-forms {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  gap: 22px;
  left: 0;
  min-height: 140px;
  position: absolute;
  top: 0;
  width: 671px;
}

.desktop-the-donation-process .header-5 {
  color: var(--pink);
  font-family: var(--font-family-open_sans);
  font-size: var(--font-size-xxl);
  font-weight: 300;
  line-height: 40px;
  margin-top: -1px;
}

.desktop-the-donation-process .paragraph-3 {
  letter-spacing: 0;
  line-height: normal;
  width: 671px;
}

.desktop-the-donation-process .do-not-complete-both-forms {
  color: var(--black);
  font-family: var(--font-family-open_sans);
  font-size: var(--font-size-s);
  font-weight: 400;
  height: 29px;
  letter-spacing: 0;
  line-height: 26px;
  text-align: center;
  white-space: nowrap;
  width: 671px;
}

.desktop-the-donation-process .overlap-group7 {
  height: 560px;
  left: 96px;
  position: absolute;
  top: 73px;
  width: 931px;
}

.desktop-the-donation-process .before-passing-1 {
  background-image: url(https://med-fom-cell-phys.sites.olt.ubc.ca/files/2023/02/before-passing-1-1.png);
  background-position: 50% 50%;
  background-size: cover;
  height: 560px;
  left: 0;
  position: absolute;
  top: 0;
  width: 560px;
}

.desktop-the-donation-process .the-process {
  height: 60px;
  left: 384px;
  letter-spacing: 0;
  line-height: 40px;
  position: absolute;
  text-align: center;
  top: 110px;
  width: 188px;
}

.desktop-the-donation-process .consenting {
  height: 98px;
  left: 451px;
  letter-spacing: 0;
  line-height: 78px;
  position: absolute;
  text-align: center;
  top: 152px;
  width: 480px;
}

.desktop-the-donation-process .ive-made-my-decisio {
  left: 451px;
  letter-spacing: 0;
  line-height: 36px;
  position: absolute;
  text-align: center;
  top: 250px;
  width: 480px;
}

.desktop-the-donation-process .back-to-top-1 {
  align-self: flex-end;
  margin-right: 1px;
}

.desktop-the-donation-process .back-to-top {
  height: 47px;
  letter-spacing: 0;
  line-height: 26px;
  margin-top: -1px;
  text-align: center;
  width: 107px;
}

.desktop-the-donation-process .contact-us {
  align-items: flex-end;
  background-color: var(--surface);
  gap: 24px;
  height: 415px;
  padding: 24px 0;
  width: 1440px;
}

.desktop-the-donation-process .contact-info {
  align-items: flex-start;
  align-self: center;
  gap: 14px;
  width: 1120px;
}

.desktop-the-donation-process .header-6 {
  align-self: stretch;
  line-height: 48px;
  margin-top: -1.00px;
  text-align: center;
}

.desktop-the-donation-process .paragraph-4 {
  align-self: stretch;
  letter-spacing: 0;
  line-height: 26px;
  text-align: center;
}

.desktop-the-donation-process .back-to-top-2 {
  margin-right: 160px;
}

.desktop-the-donation-process .ubc-footer {
  align-items: flex-start;
  background-color: var(--surface);
  display: flex;
  margin-left: -1px;
  width: 1440px;
}

.desktop-the-donation-process .screenshot-2022-10-03-204313-2 {
  height: 327px;
  object-fit: cover;
  width: 1440px;
}

.desktop-the-donation-process .back-to-top-3 {
  align-items: flex-start;
  cursor: pointer;
  display: flex;
  min-width: 107px;
}

.desktop-the-donation-process .before-passing-step {
  background-position: 50% 50%;
  background-size: cover;
  position: absolute;
}

.desktop-the-donation-process .flex {
  align-items: flex-start;
  display: flex;
}

.desktop-the-donation-process .header-7 {
  letter-spacing: 0;
  white-space: nowrap;
}

.desktop-the-donation-process .overlap-group-4 {
  left: 0;
  position: absolute;
  top: 0;
}