@import url("https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css");
@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,300,700,300italic");
/* The following line is used to measure usage of this code in production. For more info see our usage billing page */
@import url("https://px.animaapp.com/63da1d0ad0a67616d32e9914.63da1d0b54942a3db80c7025.TF8tyIu.hcp.png");



.screen a {
  display: contents;
  text-decoration: none;
}

.container-center-horizontal {
  display: flex;
  flex-direction: row;
  justify-content: center;
  pointer-events: none;
  width: 100%;
}

.container-center-horizontal > * {
  flex-shrink: 0;
  pointer-events: auto;
}

.align-self-flex-end {
  align-self: flex-end;
}

.valign-text-middle {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

* {
  box-sizing: border-box;
}

.screenshot-2022-10-03-194008-2 {
  height: 66px;
  width: 64px;
}

.vector-1 {
  height: 20px;
  left: 299px;
  position: absolute;
  top: 196px;
  width: 26px;
}

.span-1 {
  line-height: 26px;
}

.step-3-mobile {
  background-image: url(../img/step-3-mobile-1@2x.png);
  background-position: 50% 50%;
  background-size: cover;
  height: 108px;
  left: 0;
  position: absolute;
  top: 1px;
  width: 112px;
}

.before-passing-step {
  background-position: 50% 50%;
  background-size: cover;
  position: absolute;
}

.paragraph-4 {
  align-self: stretch;
  letter-spacing: 0;
  line-height: 26px;
  text-align: center;
}

.ubc {
  align-items: flex-start;
  background-color: var(--surface);
  display: flex;
  width: 1440px;
}

.contact {
  display: flex;
  flex-direction: column;
}