/* screen - mobile-anatomical-material-for-education-and-research */

.mobile-anatomical-material-for-education-and-research {
  align-items: flex-start;
  border: 1px none;
  display: flex;
  flex-direction: column;
  width: 360px;
}

.mobile-anatomical-material-for-education-and-research .ubc-navigation-menu {
  align-items: center;
  background-color: var(--surface);
  display: flex;
  flex-direction: column;
  height: 300px;
  width: 360px;
}

.mobile-anatomical-material-for-education-and-research .screenshot-container {
  align-items: flex-start;
  display: flex;
  gap: 176px;
  height: 166px;
  min-width: 328px;
}

.mobile-anatomical-material-for-education-and-research .screenshot-2022-10-03-194008-1 {
  align-self: flex-end;
  height: 116px;
  width: 88px;
}

.mobile-anatomical-material-for-education-and-research .overlap-group2 {
  align-items: center;
  background-color: var(--main-headers);
  display: flex;
  height: 80px;
  justify-content: flex-end;
  min-width: 360px;
  padding: 0 35px;
}

.mobile-anatomical-material-for-education-and-research .vector {
  height: 20px;
  width: 26px;
}

.mobile-anatomical-material-for-education-and-research .anatomical-material {
  align-items: center;
  background-color: var(--surface);
  display: flex;
  height: 494px;
  padding: 0 32px;
  width: 360px;
}

.mobile-anatomical-material-for-education-and-research .anatomical-material-1 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  gap: 14px;
  width: 296px;
}

.mobile-anatomical-material-for-education-and-research .header-2 {
  line-height: 38px;
}

.mobile-anatomical-material-for-education-and-research .paragraph-1 {
  line-height: 28px;
}

.mobile-anatomical-material-for-education-and-research .policies-on-use-of-anatomical-material {
  align-items: center;
  background-color: var(--surface);
  display: flex;
  flex-direction: column;
  height: 1040px;
  padding: 24px 0;
  width: 360px;
}

.mobile-anatomical-material-for-education-and-research .heart-illustration {
  background-color: var(--blue);
  background-image: url(../img/heart-w-o-bg-1@2x.png);
  background-position: 50% 50%;
  background-size: cover;
  height: 294px;
  margin-top: 6px;
  width: 296px;
}

.mobile-anatomical-material-for-education-and-research .policies-on-use {
  align-items: flex-start;
  background-color: var(--light-blue);
  display: flex;
  height: 692px;
  min-width: 296px;
  padding: 18px 20px;
}

.mobile-anatomical-material-for-education-and-research .policies-on-the-use {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  gap: 14px;
  height: 655px;
  width: 256px;
}

.mobile-anatomical-material-for-education-and-research .header {
  align-self: stretch;
  letter-spacing: 0;
  line-height: 28px;
  margin-top: -1.00px;
  text-align: center;
}

.mobile-anatomical-material-for-education-and-research .paragraph {
  align-self: stretch;
  letter-spacing: 0;
  line-height: 26px;
}

.mobile-anatomical-material-for-education-and-research .universal-precautions {
  align-items: center;
  background-color: var(--surface);
  display: flex;
  height: 324px;
  padding: 0 32px;
  width: 360px;
}

.mobile-anatomical-material-for-education-and-research .universal-precautions-1 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  gap: 14px;
  width: 296px;
}

.mobile-anatomical-material-for-education-and-research .header-1 {
  line-height: 28px;
  white-space: nowrap;
}

.mobile-anatomical-material-for-education-and-research .your-application {
  align-items: center;
  background-color: var(--surface);
  display: flex;
  height: 1182px;
  padding: 0 32px;
  width: 360px;
}

.mobile-anatomical-material-for-education-and-research .your-application-1 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  gap: 14px;
  width: 296px;
}

.mobile-anatomical-material-for-education-and-research .please-note-the-following {
  align-items: center;
  background-color: var(--surface);
  display: flex;
  height: 504px;
  padding: 0 32px;
  width: 360px;
}

.mobile-anatomical-material-for-education-and-research .overlap-group1 {
  align-items: center;
  background-color: var(--light-pink);
  border-radius: 10px;
  display: flex;
  height: 456px;
  min-width: 296px;
  padding: 0 20px;
}

.mobile-anatomical-material-for-education-and-research .please-note-the-following-1 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  gap: 14px;
  width: 256px;
}

.mobile-anatomical-material-for-education-and-research .header-3 {
  line-height: 28px;
}

.mobile-anatomical-material-for-education-and-research .application-forms {
  align-items: center;
  background-color: var(--surface);
  display: flex;
  flex-direction: column;
  height: 288px;
  padding: 23px 0;
  width: 360px;
}

.mobile-anatomical-material-for-education-and-research .application-forms-1 {
  color: var(--black);
  font-family: var(--font-family-open_sans);
  font-size: var(--font-size-xxl);
  font-weight: 700;
  height: 48px;
  letter-spacing: 0;
  line-height: 28px;
  width: 296px;
}

.mobile-anatomical-material-for-education-and-research .bdp-research {
  align-items: flex-start;
  background-color: var(--light-blue);
  border: 4px solid;
  border-color: var(--blue);
  border-radius: 10px;
  display: flex;
  margin-top: 25px;
  min-width: 296px;
  padding: 0 11px;
}

.mobile-anatomical-material-for-education-and-research .button-text {
  height: 72px;
  letter-spacing: 0;
  line-height: 26px;
  margin-top: -5px;
  text-align: center;
  width: 265px;
}

.mobile-anatomical-material-for-education-and-research .bdp-surgery-education {
  align-items: flex-start;
  background-color: var(--light-blue);
  border: 4px solid;
  border-color: var(--blue);
  border-radius: 10px;
  display: flex;
  margin-top: 24px;
  min-width: 296px;
  padding: 0 11px;
}

.mobile-anatomical-material-for-education-and-research .return-address {
  align-items: flex-end;
  background-color: var(--surface);
  display: flex;
  flex-direction: column;
  gap: 24px;
  height: 478px;
  padding: 24px 0;
  width: 360px;
}

.mobile-anatomical-material-for-education-and-research .return-address-1 {
  align-items: flex-start;
  align-self: center;
  display: flex;
  flex-direction: column;
  gap: 14px;
  height: 359px;
  width: 296px;
}

.mobile-anatomical-material-for-education-and-research .paragraph-2 {
  line-height: 26px;
  margin-bottom: -24.00px;
  text-align: center;
}

.mobile-anatomical-material-for-education-and-research .back-to-top {
  align-items: flex-start;
  display: flex;
  margin-right: 32px;
  min-width: 107px;
}

.mobile-anatomical-material-for-education-and-research .back-to-top-1 {
  height: 47px;
  letter-spacing: 0;
  line-height: 26px;
  margin-top: -1px;
  text-align: center;
  width: 107px;
}

.mobile-anatomical-material-for-education-and-research .ubc-footer {
  align-items: flex-start;
  background-color: var(--surface);
  display: flex;
  width: 360px;
}

.mobile-anatomical-material-for-education-and-research .overlap-group {
  height: 290px;
  position: relative;
  width: 360px;
}

.mobile-anatomical-material-for-education-and-research .screenshot-2022-10-03-204313-1 {
  height: 290px;
  left: 0;
  position: absolute;
  top: 0;
  width: 360px;
}

.mobile-anatomical-material-for-education-and-research .header-4 {
  align-self: stretch;
  letter-spacing: 0;
  margin-top: -1.00px;
}

.mobile-anatomical-material-for-education-and-research .paragraph-3 {
  align-self: stretch;
  letter-spacing: 0;
}