/* screen - mobile-after-passing */

.mobile-after-passing {
  align-items: flex-start;
  border: 1px none;
  display: flex;
  flex-direction: column;
  min-height: 4405px;
  overflow-x: hidden;
  width: 360px;
}

.mobile-after-passing .ubc-navigation-menu {
  align-items: center;
  background-color: var(--surface);
  display: flex;
  flex-direction: column;
  height: 300px;
  width: 360px;
}

.mobile-after-passing .screenshot-container {
  align-items: flex-start;
  display: flex;
  gap: 176px;
  height: 166px;
  min-width: 328px;
}

.mobile-after-passing .screenshot-2022-10-03-194008-1 {
  align-self: flex-end;
  height: 116px;
  width: 88px;
}

.mobile-after-passing .overlap-group10 {
  align-items: center;
  background-color: var(--main-headers);
  display: flex;
  height: 80px;
  justify-content: flex-end;
  min-width: 360px;
  padding: 0 35px;
}

.mobile-after-passing .vector {
  height: 20px;
  width: 26px;
}

.mobile-after-passing .the-donation-process-header {
  align-items: center;
  background-color: var(--surface);
  display: flex;
  height: 348px;
  padding: 0 32px;
  width: 360px;
}

.mobile-after-passing .the-donation-process {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  gap: 14px;
  width: 296px;
}

.mobile-after-passing .header {
  align-self: stretch;
  letter-spacing: 0;
  line-height: 58px;
  margin-top: -1.00px;
}

.mobile-after-passing .paragraph-1 {
  align-self: stretch;
  letter-spacing: 0;
  line-height: 28px;
}

.mobile-after-passing .navigation-buttons {
  align-items: center;
  background-color: var(--surface);
  display: flex;
  flex-direction: column;
  gap: 24px;
  height: 216px;
  padding: 24px 0;
  width: 360px;
}

.mobile-after-passing .mobile-large-button {
  align-items: flex-start;
  background-color: var(--light-green);
  border: 4px solid;
  border-color: var(--green);
  border-radius: 10px;
  display: flex;
  min-width: 296px;
  padding: 0 11px;
}

.mobile-after-passing .button-text {
  height: 72px;
  letter-spacing: 0;
  line-height: 28px;
  margin-top: -5px;
  text-align: center;
  width: 265px;
}

.mobile-after-passing .after-passing-header {
  align-items: flex-start;
  background-color: var(--surface);
  display: flex;
  height: 177px;
  padding: 17px 32px;
  width: 360px;
}

.mobile-after-passing .overlap-group9 {
  height: 136px;
  position: relative;
  width: 296px;
}

.mobile-after-passing .after-i-pass-what-a {
  left: 0;
  letter-spacing: 0;
  line-height: 26px;
  position: absolute;
  top: 74px;
  width: 190px;
}

.mobile-after-passing .after-passing {
  height: 38px;
  left: 0;
  letter-spacing: 0;
  line-height: 38px;
  position: absolute;
  top: 34px;
  white-space: nowrap;
  width: 296px;
}

.mobile-after-passing .the-process {
  height: 28px;
  left: 0;
  letter-spacing: 0;
  line-height: 28px;
  position: absolute;
  top: 6px;
  white-space: nowrap;
  width: 216px;
}

.mobile-after-passing .after-passing-1 {
  background-image: url(../img/after-passing-1@2x.png);
  background-position: 50% 50%;
  background-size: cover;
  height: 136px;
  left: 160px;
  position: absolute;
  top: 0;
  width: 136px;
}

.mobile-after-passing .step-1 {
  flex-direction: column;
  gap: 30px;
  height: 608px;
}

.mobile-after-passing .flex-row {
  align-items: flex-start;
  display: flex;
  gap: 16px;
  min-width: 328px;
}

.mobile-after-passing .step-1-mobile {
  background-image: url(../img/step-1-mobile-1@2x.png);
  background-position: 50% 50%;
  background-size: cover;
  height: 108px;
  margin-top: 1px;
  width: 112px;
}

.mobile-after-passing .overlap-group8 {
  height: 114px;
  position: relative;
  width: 200px;
}

.mobile-after-passing .after-passing-step-1 {
  background-image: url(../img/phone-pink-1@2x.png);
  background-size: 100% 100%;
  height: 91px;
  left: 120px;
  position: absolute;
  top: 23px;
  width: 80px;
}

.mobile-after-passing .header-1 {
  color: var(--pink);
  font-family: var(--font-family-open_sans);
  font-size: var(--font-size-xl);
  font-weight: 300;
  left: 0;
  letter-spacing: 0;
  line-height: 28px;
  position: absolute;
  top: 0;
  width: 200px;
}

.mobile-after-passing .to-give-consent {
  align-self: center;
  letter-spacing: 0;
  line-height: 26px;
  min-height: 416px;
  width: 296px;
}

.mobile-after-passing .step-2 {
  height: 478px;
}

.mobile-after-passing .overlap-group7 {
  height: 430px;
  position: relative;
  width: 328px;
}

.mobile-after-passing .overlap-group6 {
  height: 429px;
  left: 0;
  position: absolute;
  top: 1px;
  width: 328px;
}

.mobile-after-passing .overlap-group5 {
  height: 367px;
  left: 32px;
  position: absolute;
  top: 62px;
  width: 296px;
}

.mobile-after-passing .to-give-consent-1 {
  left: 0;
  letter-spacing: 0;
  line-height: 26px;
  position: absolute;
  top: 81px;
  width: 296px;
}

.mobile-after-passing .after-passing-step-2 {
  background-image: url(../img/ap2-1@2x.png);
  background-position: 50% 50%;
  background-size: cover;
  height: 102px;
  left: 194px;
  position: absolute;
  top: 0;
  width: 102px;
}

.mobile-after-passing .step-2-mobile {
  background-image: url(../img/step-2-mobile-1@2x.png);
  background-position: 50% 50%;
  background-size: cover;
  height: 107px;
  left: 0;
  position: absolute;
  top: 0;
  width: 112px;
}

.mobile-after-passing .header-2 {
  color: var(--blue);
  font-family: var(--font-family-open_sans);
  font-size: var(--font-size-xl);
  font-weight: 300;
  left: 128px;
  letter-spacing: 0;
  line-height: 28px;
  position: absolute;
  top: 0;
  width: 200px;
}

.mobile-after-passing .step-3 {
  height: 399px;
}

.mobile-after-passing .overlap-group4 {
  height: 351px;
  position: relative;
  width: 328px;
}

.mobile-after-passing .overlap-group3 {
  height: 351px;
  left: 32px;
  position: absolute;
  top: 0;
  width: 296px;
}

.mobile-after-passing .paragraph-2 {
  left: 0;
  letter-spacing: 0;
  line-height: 26px;
  position: absolute;
  top: 145px;
  width: 296px;
}

.mobile-after-passing .header-3 {
  color: var(--green);
  font-family: var(--font-family-open_sans);
  font-size: var(--font-size-xl);
  font-weight: 300;
  left: 96px;
  letter-spacing: 0;
  line-height: 28px;
  position: absolute;
  top: 0;
  width: 200px;
}

.mobile-after-passing .after-passing-step-3 {
  background-image: url(../img/ap3@2x.png);
  background-position: 50% 50%;
  background-size: cover;
  height: 135px;
  left: 160px;
  position: absolute;
  top: 12px;
  width: 135px;
}

.mobile-after-passing .if-death-occurs-outside-of-bc {
  align-items: center;
  background-color: var(--surface);
  display: flex;
  height: 357px;
  padding: 0 32px;
  width: 360px;
}

.mobile-after-passing .overlap-group2 {
  align-items: flex-start;
  background-color: var(--light-pink);
  border-radius: 10px;
  display: flex;
  height: 309px;
  min-width: 296px;
  padding: 25px 20px;
}

.mobile-after-passing .type-if-death-occurs {
  align-items: flex-end;
  display: flex;
  height: 104px;
  min-width: 256px;
}

.mobile-after-passing .overlap-group {
  height: 260px;
  margin-bottom: -155px;
  position: relative;
  width: 258px;
}

.mobile-after-passing .if-death-occurs-outs {
  left: 0;
  letter-spacing: 0;
  line-height: 26px;
  position: absolute;
  top: 0;
  width: 258px;
}

.mobile-after-passing .paragraph-3 {
  left: 0;
  letter-spacing: 0;
  line-height: 26px;
  position: absolute;
  top: 26px;
  width: 257px;
}

.mobile-after-passing .fa-qs {
  align-items: center;
  background-color: var(--surface);
  display: flex;
  flex-direction: column;
  height: 801px;
  margin-left: 1px;
  padding: 23px 0;
  width: 360px;
}

.mobile-after-passing .fa-qs-1 {
  letter-spacing: 0;
  line-height: 58px;
  margin-right: 52.0px;
  white-space: nowrap;
  width: 244px;
}

.mobile-after-passing .overlap-group1 {
  height: 504px;
  margin-top: 1px;
  position: relative;
  width: 296px;
}

.mobile-after-passing .rectangle-52 {
  background-color: var(--light-blue);
  border-radius: 10px;
  height: 444px;
  left: 0;
  position: absolute;
  top: 0;
  width: 296px;
}

.mobile-after-passing .how-to-get-a-death-certificate {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  gap: 2px;
  left: 21px;
  min-height: 215px;
  position: absolute;
  top: 262px;
  width: 256px;
}

.mobile-after-passing .header-4 {
  letter-spacing: 0;
  line-height: 26px;
  margin-top: -1px;
  width: 258px;
}

.mobile-after-passing .paragraph {
  letter-spacing: 0;
  line-height: 26px;
  width: 257px;
}

.mobile-after-passing .funeral-services {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  gap: 28px;
  left: 20px;
  min-height: 215px;
  position: absolute;
  top: 23px;
  width: 256px;
}

.mobile-after-passing .header-5 {
  letter-spacing: 0;
  line-height: 26px;
  margin-top: -1px;
  white-space: nowrap;
}

.mobile-after-passing .download-a-copy-of-this-flow-chart-here {
  align-items: flex-start;
  display: flex;
  height: 36px;
  left: 0;
  min-width: 216px;
  position: absolute;
  top: 468px;
}

.mobile-after-passing .download-a-copy-of-this-flow-chart-here-1 {
  height: 36px;
  letter-spacing: 0;
  line-height: 26px;
  margin-top: -1px;
  width: 216px;
}

.mobile-after-passing .have-more-questions {
  height: 36px;
  letter-spacing: 0;
  line-height: 26px;
  margin-top: 23px;
  width: 296px;
}

.mobile-after-passing .complete-faq {
  height: 36px;
  letter-spacing: 0;
  line-height: 26px;
  margin-top: 24px;
  width: 296px;
}

.mobile-after-passing .back-to-top-1 {
  align-self: flex-end;
  margin-top: 25px;
}

.mobile-after-passing .back-to-top {
  height: 47px;
  letter-spacing: 0;
  line-height: 26px;
  margin-top: -1px;
  text-align: center;
  width: 107px;
}

.mobile-after-passing .contact-us {
  align-items: flex-end;
  background-color: var(--surface);
  display: flex;
  flex-direction: column;
  gap: 24px;
  height: 431px;
  margin-left: 1px;
  padding: 24px 0;
  width: 360px;
}

.mobile-after-passing .type-header3 {
  align-items: flex-start;
  align-self: center;
  display: flex;
  flex-direction: column;
  gap: 14px;
  width: 296px;
}

.mobile-after-passing .header-6 {
  align-self: stretch;
  letter-spacing: 0;
  line-height: 38px;
  margin-top: -1.00px;
  text-align: center;
  white-space: nowrap;
}

.mobile-after-passing .ubc-footer {
  align-items: flex-start;
  background-color: var(--surface);
  display: flex;
  margin-left: 1px;
  width: 360px;
}

.mobile-after-passing .overlap-group-1 {
  height: 290px;
  position: relative;
  width: 360px;
}

.mobile-after-passing .screenshot-2022-10-03-204313-1 {
  height: 290px;
  left: 0;
  position: absolute;
  top: 0;
  width: 360px;
}

.mobile-after-passing .back-to-top-3 {
  align-items: flex-start;
  display: flex;
  margin-right: 32px;
  min-width: 107px;
}

.mobile-after-passing .step {
  align-items: flex-start;
  background-color: var(--surface);
  display: flex;
  padding: 23px 0;
  width: 360px;
}
