/* screen - mobile-main-page */

.mobile-main-page {
  align-items: flex-start;
  border: 1px none;
  display: flex;
  flex-direction: column;
  height: 100vh;
  min-height: 3254px;
  min-width: 360px;
  width: 100%;
}

.mobile-main-page .ubc-navigation-menu {
  background-color: var(--surface);
  height: 300px;
  min-width: 360px;
  position: relative;
}

.mobile-main-page .screenshot-container {
  align-items: flex-start;
  display: flex;
  gap: 176px;
  height: 166px;
  left: 16px;
  min-width: 328px;
  position: absolute;
  top: 0;
}

.mobile-main-page .screenshot-2022-10-03-194008-1 {
  align-self: flex-end;
  height: 116px;
  width: 88px;
}

.mobile-main-page .overlap-group {
  align-items: center;
  background-color: var(--main-headers);
  display: flex;
  height: 80px;
  justify-content: flex-end;
  left: 0;
  min-width: 360px;
  padding: 0 35px;
  position: absolute;
  top: 166px;
}

.mobile-main-page .vector {
  height: 20px;
  width: 26px;
}

.mobile-main-page .main-page-menu {
  background-color: var(--surface);
  height: 1037px;
  min-width: 360px;
}

.mobile-main-page .flex-col {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  left: 32px;
  min-height: 990px;
  position: relative;
  top: 23px;
  width: 296px;
}

.mobile-main-page .title {
  height: 189px;
  letter-spacing: 0;
  line-height: 58px;
  text-align: center;
  width: 296px;
}

.mobile-main-page .heart-1 {
  height: 296px;
  margin-top: 25px;
  object-fit: cover;
  width: 296px;
}

.mobile-main-page .navigation-buttons {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  gap: 24px;
  margin-top: 24px;
  min-height: 456px;
  width: 296px;
}

.mobile-main-page .navigation-buttons-item {
  align-items: flex-start;
  background-color: var(--light-blue);
  border: 4px solid;
  border-color: var(--blue);
  border-radius: 10px;
  display: flex;
  min-width: 296px;
  padding: 0 11px;
}

.mobile-main-page .button-text {
  height: 72px;
  letter-spacing: 0;
  line-height: 28px;
  margin-top: -5px;
  text-align: center;
  width: 265px;
}

.mobile-main-page .intro-text {
  background-color: var(--surface);
  height: 796px;
  min-width: 360px;
}

.mobile-main-page .type-header3 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  gap: 14px;
  left: 32px;
  position: relative;
  top: 24px;
  width: 296px;
}

.mobile-main-page .header {
  align-self: stretch;
  letter-spacing: 0;
  line-height: 38px;
  margin-top: -1.00px;
  text-align: center;
}

.mobile-main-page .paragraph {
  align-self: stretch;
  letter-spacing: 0;
  line-height: 26px;
}

.mobile-main-page .anatomical-material {
  background-color: var(--surface);
  height: 126px;
  min-width: 360px;
}

.mobile-main-page .mobile-large-button {
  align-items: flex-start;
  background-color: var(--light-blue);
  border: 4px solid;
  border-color: var(--blue);
  border-radius: 10px;
  display: flex;
  left: 32px;
  width: 296px;
  padding: 0 11px;
  position: relative;
  top: 27px;
}

.mobile-main-page .button-text-1 {
  height: 72px;
  letter-spacing: 0;
  line-height: 26px;
  margin-top: -5px;
  text-align: center;
  width: 265px;
}

.mobile-main-page .download-brochure {
  background-color: var(--surface);
  height: 284px;
  min-width: 360px;
  position: relative;
}

.mobile-main-page .mobile-large-button-1 {
  align-items: flex-start;
  background-color: var(--light-pink);
  border: 4px solid;
  border-color: var(--pink);
  border-radius: 10px;
  display: flex;
  height: 72px;
  left: 32px;
  min-width: 296px;
  padding: 0 11px;
  position: absolute;
  top: 188px;
}

.mobile-main-page .know-someone-who-may {
  height: 140px;
  left: 32px;
  letter-spacing: 0;
  line-height: 28px;
  position: absolute;
  text-align: center;
  top: 23px;
  width: 296px;
}

.mobile-main-page .contact-us {
  background-color: var(--surface);
  height: 431px;
  min-width: 360px;
  position: relative;
}

.mobile-main-page .back-to-top {
  align-items: flex-start;
  display: flex;
  height: 47px;
  left: 221px;
  min-width: 107px;
  position: absolute;
  top: 360px;
}

.mobile-main-page .back-to-top-1 {
  height: 47px;
  letter-spacing: 0;
  line-height: 26px;
  margin-top: -1px;
  text-align: center;
  width: 107px;
}

.mobile-main-page .type-header3-1 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  gap: 14px;
  left: 32px;
  position: absolute;
  top: 24px;
  width: 296px;
}

.mobile-main-page .header-1 {
  align-self: stretch;
  letter-spacing: 0;
  line-height: 38px;
  margin-top: -1.00px;
  text-align: center;
  white-space: nowrap;
}

.mobile-main-page .paragraph-1 {
  align-self: stretch;
  letter-spacing: 0;
  line-height: 26px;
  text-align: center;
}

.mobile-main-page .ubc-footer {
  background-color: var(--surface);
  height: 280px;
  min-width: 360px;
}

.mobile-main-page .overlap-group1 {
  height: 280px;
  position: relative;
  width: 360px;
}

.mobile-main-page .screenshot-2022-10-03-204313-1 {
  height: 280px;
  left: 0;
  position: absolute;
  top: 0;
  width: 360px;
}