/* screen - mobile-before-passing */

.mobile-before-passing {
  align-items: flex-start;
  border: 1px none;
  display: flex;
  flex-direction: column;
  width: 360px;
}

.mobile-before-passing .ubc-navigation-menu {
  align-items: center;
  background-color: var(--surface);
  display: flex;
  flex-direction: column;
  height: 300px;
  width: 360px;
}

.mobile-before-passing .screenshot-container {
  align-items: flex-start;
  display: flex;
  gap: 176px;
  height: 166px;
  min-width: 328px;
}

.mobile-before-passing .screenshot-2022-10-03-194008-1 {
  align-self: flex-end;
  height: 116px;
  width: 88px;
}

.mobile-before-passing .overlap-group8 {
  align-items: center;
  background-color: var(--main-headers);
  display: flex;
  height: 80px;
  justify-content: flex-end;
  min-width: 360px;
  padding: 0 35px;
}

.mobile-before-passing .vector {
  height: 20px;
  width: 26px;
}

.mobile-before-passing .the-donation-process-header {
  align-items: center;
  background-color: var(--surface);
  display: flex;
  height: 348px;
  padding: 0 32px;
  width: 360px;
}

.mobile-before-passing .the-donation-process {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  gap: 14px;
  width: 296px;
}

.mobile-before-passing .header-1 {
  align-self: stretch;
  letter-spacing: 0;
  line-height: 58px;
  margin-top: -1.00px;
}

.mobile-before-passing .paragraph-1 {
  align-self: stretch;
  letter-spacing: 0;
  line-height: 28px;
}

.mobile-before-passing .navigation-buttons {
  align-items: center;
  background-color: var(--surface);
  display: flex;
  flex-direction: column;
  gap: 24px;
  height: 216px;
  padding: 24px 0;
  width: 360px;
}

.mobile-before-passing .mobile-large-button {
  align-items: flex-start;
  background-color: var(--light-green);
  border: 4px solid;
  border-color: var(--green);
  border-radius: 10px;
  display: flex;
  min-width: 296px;
  padding: 0 11px;
}

.mobile-before-passing .button-text {
  height: 72px;
  letter-spacing: 0;
  line-height: 28px;
  margin-top: -5px;
  text-align: center;
  width: 265px;
}

.mobile-before-passing .before-passing-header {
  align-items: flex-start;
  background-color: var(--surface);
  display: flex;
  height: 184px;
  padding: 23px 32px;
  width: 360px;
}

.mobile-before-passing .overlap-group7 {
  height: 137px;
  position: relative;
  width: 296px;
}

.mobile-before-passing .consenting {
  height: 38px;
  left: 80px;
  letter-spacing: 0;
  line-height: 38px;
  position: absolute;
  text-align: right;
  top: 28px;
  white-space: nowrap;
  width: 216px;
}

.mobile-before-passing .now-ive-made-my-dec {
  left: 120px;
  letter-spacing: 0;
  line-height: 26px;
  position: absolute;
  text-align: right;
  top: 68px;
  width: 176px;
}

.mobile-before-passing .the-process {
  height: 28px;
  left: 80px;
  letter-spacing: 0;
  line-height: 28px;
  position: absolute;
  text-align: right;
  top: 0;
  white-space: nowrap;
  width: 216px;
}

.mobile-before-passing .before-passing {
  background-image: url(../img/before-passing-1@2x.png);
  background-position: 50% 50%;
  background-size: cover;
  height: 136px;
  left: 0;
  position: absolute;
  top: 1px;
  width: 136px;
}

.mobile-before-passing .step-1 {
  align-items: center;
  flex-direction: column;
  height: 1150px;
  padding: 20px 0;
}

.mobile-before-passing .flex-row {
  align-items: flex-start;
  align-self: flex-start;
  display: flex;
  gap: 14px;
  min-width: 328px;
}

.mobile-before-passing .step-1-mobile {
  background-image: url(../img/step-1-mobile-1@2x.png);
  background-position: 50% 50%;
  background-size: cover;
  height: 108px;
  margin-top: 4px;
  width: 112px;
}

.mobile-before-passing .overlap-group6 {
  height: 145px;
  position: relative;
  width: 202px;
}

.mobile-before-passing .header-2 {
  color: var(--pink);
  font-family: var(--font-family-open_sans);
  font-size: var(--font-size-xl);
  font-weight: 300;
  left: 0;
  letter-spacing: 0;
  line-height: 28px;
  position: absolute;
  top: 0;
  width: 200px;
}

.mobile-before-passing .before-passing-step-1 {
  background-image: url(../img/bp1-1@2x.png);
  height: 104px;
  left: 98px;
  top: 41px;
  width: 104px;
}

.mobile-before-passing .to-give-consent {
  letter-spacing: 0;
  line-height: 26px;
  margin-top: 5px;
  min-height: 71px;
  width: 296px;
}

.mobile-before-passing .x1a-you-are-the-dono {
  letter-spacing: 0;
  line-height: 26px;
  margin-top: 24px;
  min-height: 341px;
  width: 296px;
}

.mobile-before-passing .or {
  height: 26px;
  letter-spacing: 0;
  line-height: 26px;
  margin-top: 24px;
  text-align: center;
  white-space: nowrap;
  width: 64px;
}

.mobile-before-passing .x1b-someone-else-is {
  letter-spacing: 0;
  line-height: 26px;
  margin-left: 1.0px;
  margin-top: 24px;
  min-height: 392px;
  width: 295px;
}

.mobile-before-passing .do-not-complete-both-forms {
  height: 29px;
  letter-spacing: 0;
  line-height: 26px;
  margin-left: 1.0px;
  margin-top: 24px;
  text-align: center;
  white-space: nowrap;
  width: 295px;
}

.mobile-before-passing .step-2 {
  align-items: flex-start;
  height: 375px;
  padding: 23px 0;
}

.mobile-before-passing .overlap-group5 {
  height: 327px;
  position: relative;
  width: 328px;
}

.mobile-before-passing .overlap-group4 {
  height: 327px;
  left: 32px;
  position: absolute;
  top: 0;
  width: 296px;
}

.mobile-before-passing .to-give-consent-1 {
  left: 0;
  letter-spacing: 0;
  line-height: 26px;
  position: absolute;
  top: 144px;
  width: 296px;
}

.mobile-before-passing .header-3 {
  color: var(--blue);
  font-family: var(--font-family-open_sans);
  font-size: var(--font-size-xl);
  font-weight: 300;
  left: 96px;
  letter-spacing: 0;
  line-height: 28px;
  position: absolute;
  top: 0;
  width: 200px;
}

.mobile-before-passing .before-passing-step-2 {
  background-image: url(../img/bp2-1@2x.png);
  height: 136px;
  left: 160px;
  top: 27px;
  width: 136px;
}

.mobile-before-passing .step-2-mobile {
  background-image: url(../img/step-2-mobile-1@2x.png);
  background-position: 50% 50%;
  background-size: cover;
  height: 107px;
  left: 0;
  position: absolute;
  top: 1px;
  width: 112px;
}

.mobile-before-passing .step-3 {
  align-items: flex-start;
  height: 612px;
  padding: 23px 0;
}

.mobile-before-passing .overlap-group3 {
  height: 564px;
  position: relative;
  width: 360px;
}

.mobile-before-passing .overlap-group2 {
  height: 564px;
  left: 32px;
  position: absolute;
  top: 0;
  width: 328px;
}

.mobile-before-passing .paragraph-2 {
  left: 0;
  letter-spacing: 0;
  line-height: 26px;
  position: absolute;
  top: 145px;
  width: 296px;
}

.mobile-before-passing .header-4 {
  color: var(--green);
  font-family: var(--font-family-open_sans);
  font-size: var(--font-size-xl);
  font-weight: 300;
  left: 96px;
  letter-spacing: 0;
  line-height: 28px;
  position: absolute;
  top: 0;
  width: 200px;
}

.mobile-before-passing .before-passing-step-3 {
  background-image: url(../img/bp3@2x.png);
  height: 133px;
  left: 193px;
  top: 13px;
  width: 135px;
}

.mobile-before-passing .fa-qs {
  align-items: center;
  background-color: var(--surface);
  display: flex;
  flex-direction: column;
  height: 1298px;
  padding: 23px 0;
  width: 360px;
}

.mobile-before-passing .fa-qs-1 {
  letter-spacing: 0;
  line-height: 58px;
  margin-right: 52.0px;
  white-space: nowrap;
  width: 244px;
}

.mobile-before-passing .overlap-group1 {
  align-items: center;
  background-color: var(--light-blue);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  margin-top: 1px;
  min-height: 938px;
  padding: 23px 19px;
  width: 296px;
}

.mobile-before-passing .what-is-indefinite-donation {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  gap: 2px;
  min-height: 215px;
  width: 256px;
}

.mobile-before-passing .header {
  letter-spacing: 0;
  line-height: 26px;
  margin-top: -1px;
  width: 258px;
}

.mobile-before-passing .paragraph {
  letter-spacing: 0;
  line-height: 26px;
  width: 257px;
}

.mobile-before-passing .can-i-revoke-my-consent {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  gap: 28px;
  margin-top: 97px;
  min-height: 215px;
  width: 256px;
}

.mobile-before-passing .header-5 {
  letter-spacing: 0;
  line-height: 26px;
  margin-top: -1px;
  white-space: nowrap;
}

.mobile-before-passing .can-my-family-revoke {
  align-items: flex-start;
  align-self: flex-end;
  display: flex;
  flex-direction: column;
  gap: 2px;
  margin-top: 128px;
  min-height: 215px;
  width: 256px;
}

.mobile-before-passing .download-a-copy-of-this-flow-chart-here {
  align-items: flex-start;
  align-self: flex-start;
  display: flex;
  margin-left: 32px;
  margin-top: 24px;
  min-width: 216px;
}

.mobile-before-passing .download-a-copy-of-this-flow-chart-here-1 {
  height: 36px;
  letter-spacing: 0;
  line-height: 26px;
  margin-top: -1px;
  width: 216px;
}

.mobile-before-passing .have-more-questions {
  height: 36px;
  letter-spacing: 0;
  line-height: 26px;
  margin-top: 23px;
  width: 296px;
}

.mobile-before-passing .complete-faq {
  height: 36px;
  letter-spacing: 0;
  line-height: 26px;
  margin-top: 24px;
  width: 296px;
}

.mobile-before-passing .back-to-top-1 {
  align-self: flex-end;
  margin-top: 25px;
}

.mobile-before-passing .back-to-top {
  height: 47px;
  letter-spacing: 0;
  line-height: 26px;
  margin-top: -1px;
  text-align: center;
  width: 107px;
}

.mobile-before-passing .contact-us {
  align-items: flex-end;
  background-color: var(--surface);
  display: flex;
  flex-direction: column;
  gap: 24px;
  height: 431px;
  padding: 24px 0;
  width: 360px;
}

.mobile-before-passing .type-header3 {
  align-items: flex-start;
  align-self: center;
  display: flex;
  flex-direction: column;
  gap: 14px;
  width: 296px;
}

.mobile-before-passing .header-6 {
  align-self: stretch;
  letter-spacing: 0;
  line-height: 38px;
  margin-top: -1.00px;
  text-align: center;
  white-space: nowrap;
}

.mobile-before-passing .paragraph-3 {
  align-self: stretch;
  letter-spacing: 0;
  line-height: 26px;
  text-align: center;
}

.mobile-before-passing .ubc-footer {
  align-items: flex-start;
  background-color: var(--surface);
  display: flex;
  width: 360px;
}

.mobile-before-passing .overlap-group {
  height: 290px;
  position: relative;
  width: 360px;
}

.mobile-before-passing .screenshot-2022-10-03-204313-1 {
  height: 290px;
  left: 0;
  position: absolute;
  top: 0;
  width: 360px;
}

.mobile-before-passing .back-to-top-3 {
  align-items: flex-start;
  display: flex;
  margin-right: 32px;
  min-width: 107px;
}

.mobile-before-passing .step {
  background-color: var(--surface);
  display: flex;
  width: 360px;
}